@import "main-styles";

.equipment-layout {
    margin-top: 20px;
    background-color: $color-layout;
}

.container {
    max-width: 1000px;
}

.custom-width {
    width: 1%;
}

.item-field-general {
    width: 70%;
}

.eq-lower-part-container {
    width: 600px;
    margin-top: 30px;
    margin-left: 100px;
}

.armor-field {
    height: 140px;
    background-color: $color-grey;
}

.helmet-field {
    height: 60px;
    background-color: $color-grey;
}

.square {
    width: 20px;
    height: 20px;
    margin-top: 1px;
    background-color: $color-grey;
}
